$primary: #F8F3EA;
$secondary: #D1E8FF;
$black: #000;
$white: #fff;
$red: #FD6F2F;
$light-blue: #779af3;
$dark-blue: #0B1957;
$blue: #2A5FE7;
$blue-link: #5784E6;
$bg: #0B1957;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;

$width-sidebar: 300px;

$color-text: #0B1957;
$color-data: #5784E6;

$tablet-bp: 1099px;
$tablet-md-bp: 972px;
$tablet-g-bp: 767px;
$mobile-bp: 575px;