.header {
  width: 100%;
  height: 5rem;
  background-color: $bg;
  box-shadow: 0 5px 22px rgba($color: $black, $alpha: 0.65);
  color: $primary;
  // position: fixed;
  // top: 0;
  // z-index: $z-index-header;

  @include breakpoint($tablet-bp) {
    width: 100%;
  }
  @include breakpoint($mobile-bp) {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

