.work{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 40rem;
  column-gap: 2.5rem;
  margin-bottom: 3rem;
  overflow: hidden;
  background-color: $secondary;
  box-shadow: 0 15px 25px rgba($color: $bg, $alpha: 0.35);
  border-radius: 5px;

  @include breakpoint($tablet-bp){
    grid-template-rows: 50rem;
  }

  @include breakpoint($tablet-md-bp){
    grid-template-columns: 1fr;
    grid-template-rows: 40rem 30rem;
  }

  @include breakpoint($mobile-bp){
    grid-template-rows: 30rem 30rem;
  }

  &__preview{
    width: 100%;

    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
  &__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2.5rem;

    @include breakpoint($tablet-md-bp){
      padding: 0 1.5rem;
    }

    > .btn--md {
      align-self: end;
      margin-right: 2.5rem;
      
      @include breakpoint($mobile-bp){
        align-self: start;
      }
    }
    @include breakpoint($mobile-bp){
      padding: 0 1.5rem;
    }
  }

  &__title{
    margin: 1.5rem;
    color: $white;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.68;

    a {
      color: $blue-link;
      transition: color .3s ease-in-out;

      &:hover{
        color: darken($color: $blue-link, $amount: 30%);
      }
    }

    @include breakpoint($mobile-bp){
      margin: 1.0rem 1.5rem 1rem 0;
      line-height: 1.2;
    }
  }

  &__description{
    padding-right: 2.5rem;
    margin-bottom: 1.4rem;
    color: $color-text;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.7rem; /* 168.75% */

    @include breakpoint($tablet-md-bp){
      line-height: 2.0rem; /* 168.75% */
    }

    @include breakpoint($mobile-bp){
      // font-size: 1.6rem;
      line-height: 1.8rem;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 3.9rem;
    
    @include breakpoint($tablet-md-bp){
      margin-bottom: 2rem;
    }

    @include breakpoint($mobile-bp){
      margin-bottom: 3.0rem;
    }
  }
  &__item{
    padding: .4rem .9rem;
    background-color: #EA8C1E;
    border-radius: 3px;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
  }
}