.wrapper {
  display: flex;
  min-height: 100vh;

  &__left{
    width: 25%;
    min-width: 30rem;

    @include breakpoint($tablet-g-bp){
      display: none;
    }
  }
  &__right{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}