<header class="header">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a class="nav__link" href="index.html">Home</a></li>
      <li class="nav__item"><a class="nav__link" href="blog.html">Blog</a></li>
      <li class="nav__item"><a class="nav__link" href="works-1.html">Projects</a></li>
      <li class="nav__item"><a class="nav__link" href="contact.html">Contact</a></li>
    </ul>
  </nav>
  <button class="mobile-nav-btn">
    <div class="nav-icon"></div>
  </button>
</header>
