<aside class="sidebar-mobile">
  <div class="sidebar-mobile__header">
    <img src="assets/images/sidebar-header.jpg" alt="" />
  </div>
  <div class="sidebar-mobile__content">
    <div class="profile">
      <!-- <img class="profile__avatar" src="https://placehold.it/100" alt="" /> -->
      <img class="profile__avatar" src="assets/images/Sav1.png" alt="" />
      <div class="profile__header">
        <div class="profile__name">Popov Vadim</div>
        <div class="profile__prof">full-stack developer</div>
      </div>
      <ul class="social">
        <li class="social__item">
          <a href="#" class="social__link" target="_blank">
            <img
              src="./../assets/images/icon/github.svg"
              alt="Popov Vadim github"
            />
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link" target="_blank">
            <img src="./../assets/images/icon/linkedin.svg" alt="Popov Vadim Linkedin" />
          </a>
        </li>
        <li class="social__item">
          <a href="#" class="social__link" target="_blank">
            <img
              src="assets/images/icon/pinterest.svg"
              alt="Popov Vadim pinterest"
            />
          </a>
        </li>
      </ul>
      <div class="profile__text">
        <p>
          Front-end developer. Website layout practice. I have been creating
          websites since 2012. He has worked for several IT companies and has
          accumulated more than 10,000 hours to create websites of varying
          complexity.
        </p>
      </div>
    </div>
    <!-- /.profile ->-->
  </div>
  <!-- /.sidebar-content ->-->
  <div class="sidebar-mobile__footer">
    <a class="btn btn--red" href="works-1.html">My works</a>
    <button class="btn btn--blue" type="button" data-modal="contact-modal"="">Write to me</button>
  </div>
</aside>
